*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f7f7f7;
}
.card{
  width: 450px;
  margin: 40px;
  border: 4px solid #222;
}
.card::after{
  content: "";
  display: block;
}
.avatar{
  width: 100%;
  display: block;
}
.data{
  padding: 24px;
  padding-top: 32px;
}

.skill-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}